{
  "openapi": "3.0.3",
  "info": { "title": "WaAceh API", "version": "5.0.0", "description": "WhatsApp Gateway API — multi-session, anti-ban, AI chatbot, SDK lengkap" },
  "servers": [{ "url": "https://waaceh.biz.id", "description": "Production" }, { "url": "http://localhost:2785", "description": "Local" }],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": { "type": "apiKey", "in": "header", "name": "x-api-key" },
      "BearerAuth": { "type": "http", "scheme": "bearer" }
    }
  },
  "security": [{ "ApiKeyAuth": [] }, { "BearerAuth": [] }],
  "paths": {
    "/api/health": { "get": { "summary": "Health check", "responses": { "200": { "description": "OK" } } } },
    "/api/sessions": { "get": { "summary": "List sessions" }, "post": { "summary": "Create session" } },
    "/api/sessions/{id}/status": { "get": { "summary": "Session status" } },
    "/api/sessions/{id}/qr": { "get": { "summary": "Get QR code" } },
    "/api/sessions/{id}/messages": { "post": { "summary": "Send message (text/image/audio/document/buttons/list)" } },
    "/api/sessions/{id}/messages/send-text": { "post": { "summary": "Send text" } },
    "/api/sessions/{id}/messages/send-image": { "post": { "summary": "Send image" } },
    "/api/sessions/{id}/messages/send-buttons": { "post": { "summary": "Send interactive buttons" } },
    "/api/sessions/{id}/messages/send-list": { "post": { "summary": "Send interactive list" } },
    "/api/sessions/{id}/messages/send-poll": { "post": { "summary": "Send poll" } },
    "/api/sessions/{id}/messages/react": { "post": { "summary": "React to message with emoji" } },
    "/api/sessions/{id}/messages/{messageId}": { "put": { "summary": "Edit sent message" } },
    "/api/sessions/{id}/broadcast": { "post": { "summary": "Send broadcast" } },
    "/api/sessions/{id}/profile/name": { "put": { "summary": "Set display name" } },
    "/api/sessions/{id}/profile/status": { "put": { "summary": "Set about status" } },
    "/api/sessions/{id}/profile/picture": { "post": { "summary": "Set profile picture from URL" } },
    "/api/sessions/{id}/block": { "post": { "summary": "Block contact" } },
    "/api/sessions/{id}/unblock": { "post": { "summary": "Unblock contact" } },
    "/api/sessions/{id}/mute": { "post": { "summary": "Mute chat" } },
    "/api/sessions/{id}/groups/create": { "post": { "summary": "Create group" } },
    "/api/sessions/{id}/groups/join": { "post": { "summary": "Join group via invite code" } },
    "/api/sessions/{id}/groups/{groupId}": { "get": { "summary": "Get group metadata" } },
    "/api/sessions/{id}/groups/{groupId}/invite": { "get": { "summary": "Get group invite code" } },
    "/api/sessions/{id}/groups/{groupId}/leave": { "post": { "summary": "Leave group" } },
    "/api/sessions/{id}/groups/{groupId}/participants": { "post": { "summary": "Add/remove participants" } },
    "/api/sessions/{id}/groups/{groupId}/subject": { "put": { "summary": "Set group subject" } },
    "/api/sessions/{id}/groups/{groupId}/description": { "put": { "summary": "Set group description" } },
    "/api/sessions/{id}/groups/{groupId}/settings": { "put": { "summary": "Update group settings" } },
    "/api/sessions/{id}/labels": { "get": { "summary": "List labels" }, "post": { "summary": "Create label" } },
    "/api/sessions/{id}/labels/{labelId}": { "delete": { "summary": "Delete label" } },
    "/api/sessions/{id}/labels/{labelId}/assign": { "post": { "summary": "Assign label to chat" } },
    "/api/sessions/{id}/labels/{labelId}/unassign": { "post": { "summary": "Remove label from chat" } },
    "/api/sessions/{id}/labels/{chatId}": { "get": { "summary": "Get labels for a chat" } },
    "/api/sessions/{id}/users": { "get": { "summary": "List contacts" } },
    "/api/sessions/{id}/users/{userId}": { "get": { "summary": "Get contact" } },
    "/api/sessions/{id}/users/{userId}/persona": { "put": { "summary": "Override persona" } },
    "/api/sessions/{id}/users/{userId}/group": { "put": { "summary": "Assign contact to group" } },
    "/api/sessions/{id}/groups": { "get": { "summary": "List contact groups" }, "post": { "summary": "Create contact group" } },
    "/api/sessions/{id}/groups/{groupId}": { "put": { "summary": "Update contact group" }, "delete": { "summary": "Delete contact group" } },
    "/api/sessions/{id}/behavior": { "get": { "summary": "Get behavior config" }, "post": { "summary": "Update behavior config" } },
    "/api/sessions/{id}/faq": { "get": { "summary": "List FAQ" }, "post": { "summary": "Add FAQ" } },
    "/api/sessions/{id}/faq/{faqId}": { "delete": { "summary": "Delete FAQ" } },
    "/api/sessions/{id}/templates": { "get": { "summary": "List templates" }, "post": { "summary": "Add template" } },
    "/api/sessions/{id}/analytics/personas": { "get": { "summary": "Persona distribution" } },
    "/api/sessions/{id}/analytics/sources": { "get": { "summary": "Reply sources" } },
    "/api/sessions/{id}/analytics/volume": { "get": { "summary": "Message volume" } },
    "/api/auth/register": { "post": { "summary": "Register new user" } },
    "/api/auth/login": { "post": { "summary": "Login" } },
    "/api/auth/refresh": { "get": { "summary": "Refresh access token" } },
    "/api/auth/me": { "get": { "summary": "Get current user" } },
    "/api/auth/forgot-password": { "post": { "summary": "Request password reset" } },
    "/api/auth/reset-password": { "post": { "summary": "Reset password with token" } }
  }
}
